@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme  {
    --font-sans: 'Karla', sans-serif;
    
}

body {
    font-family:var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
